@model HERRAMIENTAS.Models.Cliente

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div class="card p-4 shadow" style="width: 400px;">

        <h3 class="mb-4 text-center">Nuevo Cliente</h3>

        <form asp-action="Create">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Documento</label>
                <input asp-for="Documento" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input asp-for="Correo" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Teléfono</label>
                <input asp-for="Telefono" class="form-control" />
            </div>

            <button type="submit" class="btn btn-light w-100">
                Guardar
            </button>
        </form>

    </div>

</div>