@model HERRAMIENTAS.Models.Categoria

<h2>Crear Categoría</h2>

<form asp-action="Create">
    <div>
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
</form>